.DS_Store
out/chapters/
out/*.aux
out/*.gz
out/*.log
out/*.toc
!out/Begin_Modern_Programming_with_Python.pdf
./program_code/.idea
program_code/lib
program_code/out
program_code/CodeExamples.iml
*.pyttex
*.pygtex
out/_minted-Begin_Modern_Programming_with_Python/
test.tex
out/_minted-test_1/A7C5309EE027F9F8B3CB2795AE7FDEDDBF745357926405C14E8497D560198DDA.pygtex
out/_minted-test_1/DDC8A6514ECBF437DD03578385FA0F8ABF745357926405C14E8497D560198DDA.pygtex
out/_minted-test_1/F709ED5621A7C741EEB62923E657F3B5BF745357926405C14E8497D560198DDA.pygtex
out/test_1.pdf
out/test_1.pdf
out/test_1.pdf
figures/*.pdf
figures/*.pdf_tex
